body {
    background-color: #262626;
}

main {
    width: 100%;
    min-height: 100vh;
    padding-top: 4rem;
    background: url("../../public/assets/background-texture.svg");
}

@keyframes notification-fade-animation {
    8%,
    80% {
        opacity: 1;
    }
    0%,
    100% {
        opacity: 0;
    }
}

.notification-fadeout {
    animation: 7.1s notification-fade-animation forwards;
}

/* -- Re-usable styling -- */

/* Primary purple button */
.button-primary {
    @apply bg-highlight-primary text-text-primary hover:bg-highlight-hover;
}
/* Secondary white button */
.button-secondary {
    @apply bg-text-primary text-text-dark hover:bg-text-secondary;
}
.button-danger {
    @apply bg-red-600 text-text-primary hover:bg-red-500;
}
/* Button with only outline (Edit profile button, etc) Allowing for custom bg color */
.button-outline {
    @apply border-2;
}
.button-outline-default {
    @apply border-text-primary text-text-primary hover:border-highlight-primary hover:text-highlight-primary;
}
.button-outline-danger {
    @apply border-text-primary text-text-primary hover:border-red-300 hover:bg-[#f8717122] hover:text-red-200;
}

.button-primary,
.button-secondary,
.button-danger,
.button-outline {
    @apply rounded-lg px-6 py-[14px] text-center font-lexend font-medium transition-colors duration-300 hover:cursor-pointer sm:py-3;
}

/* white text that can be hovered, turns purple (links, etc) */
.hover-text-white {
    @apply text-text-primary hover:text-highlight-primary;
}
/* purple text that can be hovered, turns lighter purple (important actions - forgot password, etc) */
.hover-text-purple {
    @apply text-highlight-primary hover:text-highlight-hover;
}

.hover-text-white,
.hover-text-purple {
    @apply transition-colors duration-200 hover:cursor-pointer;
}

/* card for container displaying content */
.card {
    @apply rounded-md bg-card p-4 shadow-md sm:p-6;
}

/* popup containers - such as account form */
.popup {
    @apply relative rounded-lg bg-gradient-to-tl from-popup-start to-popup-end shadow-md;
}
.popup-default {
    @apply p-4 font-lexend sm:p-6;
}
.popup-backdrop {
    @apply fixed left-0 top-0 flex h-screen w-screen items-center justify-center bg-[#00000066] px-4;
}

/* user profile picture - default background image for users without one */
.profile-picture-wrapper {
    border-radius: 100%;
    background-image: url("/assets/profile-picture/default.png");
    background-size: contain;
    aspect-ratio: 1;
}

.profile-picture-wrapper:hover {
    background-image: url("/assets/profile-picture/hover.png");
    cursor: pointer;
}

.profile-picture {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* heading text at top of card elements */
.card-header-text {
    @apply font-lexend text-xl font-semibold uppercase tracking-wide text-text-secondary;
}

/* Search bars */
.search-bar {
    @apply rounded bg-input-primary px-2 py-1.5 pr-9 font-lexend text-text-primary focus:outline-none;
}

/* Text inputs */
.multiline-input {
    @apply resize-none overflow-auto;
}

.multiline-input,
.text-input,
.dropdown-input {
    @apply rounded bg-input-primary px-2 py-1.5 font-lexend text-text-primary focus:outline-none;
}

/* Game cover picture elements */
.game-cover {
    @apply aspect-[3/4] rounded-md;
}

/* Animations for elements fadein in with slight movement, like hover menus */
@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translateX(4px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(4px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.fade-in-right {
    animation: 150ms fade-in-right linear;
}
.fade-in-left {
    animation: 150ms fade-in-left linear;
}

/* Small menu when hovering element, such as an icon */
.hover-menu {
    @apply z-50 rounded bg-navbar font-lexend text-text-primary;
}
