body {
    background-color: #262626;
}

main {
    width: 100%;
    min-height: 100vh;
    padding-top: 4rem;
    background: url("../../public/assets/background-texture.svg");
}

@keyframes notification-fade-animation {
    8%,
    80% {
        opacity: 1;
    }
    0%,
    100% {
        opacity: 0;
    }
}

.notification-fadeout {
    animation: 7.1s notification-fade-animation forwards;
}

/* -- Re-usable styling -- */

/* Primary purple button */
.button-primary {
    @apply bg-highlight-primary text-text-primary hover:bg-highlight-hover;
}
/* Secondary white button */
.button-secondary {
    @apply bg-text-primary text-text-dark hover:bg-text-secondary;
}

.button-primary,
.button-secondary {
    @apply rounded-lg px-6 py-[14px] text-center font-lexend font-medium transition-colors duration-300 hover:cursor-pointer sm:py-3;
}

/* white text that can be hovered, turns purple (links, etc) */
.hover-text-white {
    @apply text-text-primary hover:text-highlight-primary;
}
/* purple text that can be hovered, turns lighter purple (important actions - forgot password, etc) */
.hover-text-purple {
    @apply text-highlight-primary hover:text-highlight-hover;
}

.hover-text-white,
.hover-text-purple {
    @apply transition-colors duration-200 hover:cursor-pointer;
}

/* card for container displaying content */
.card {
    @apply rounded-md bg-card p-4 shadow-md sm:p-6;
}

/* popup containers - such as account form */
.popup {
    @apply rounded-lg bg-gradient-to-tl from-popup-start to-popup-end shadow-md;
}
.popup-backdrop {
    @apply fixed left-0 top-0 flex h-screen w-screen items-center justify-center bg-[#00000066] px-4;
}
