body {
    background-color: #262626;
}

main {
    width: 100%;
    min-height: 100vh;
    padding-top: 4rem;
    background: url("../../public/assets/background-texture.svg");
}

@keyframes notification-fade-animation {
    8%,
    80% {
        opacity: 1;
    }
    0%,
    100% {
        opacity: 0;
    }
}

.notification-fadeout {
    animation: 7.1s notification-fade-animation forwards;
}

.button-primary {
    @apply rounded-lg bg-highlight-primary px-6 py-3 font-lexend font-semibold text-text-primary transition-colors duration-300 hover:bg-highlight-hover;
}
